.user-book-info-header {
    display: flex;
    flex-direction: row;
    position: relative;
    align-items: center;
    padding: 0 20px 0 30px;
}

.user-book-info-header h1 {
    white-space: normal;
    overflow-wrap: break-word;
    word-wrap: break-word;
    max-width: 60%;
    text-transform: capitalize;
    font-weight: 600;
    font-size: 40px;
    text-align: right;
    margin-bottom: 10px;
    justify-content: center;
}

.user-book-info-header .pages-status-info {
    justify-content: left;
    align-items: center;
    font-weight: 500;
}

.pages-status-info p {
    font-size: 18px;
    text-align: left;
    margin-bottom: -10px;
    margin-top: -10px;
}

.vertical-line {
    border-left: 2px solid var(--color-primary);
    height: 120px;
    margin-left: 10px;
    margin-right: 10px;
}

.favourite-link{
    display: block;
    width: 40px;
    height: 40px;
    position: absolute;
}

.star-button {
    background: none;
    border: none;
    cursor: pointer;
    padding: 0;
    width: 40px;
    height: 40px;
    top: 20px;
    left: 20px;
    z-index: 10000;
    position: absolute;
}

.star-icon {
    width: 40px;
    height: 40px;
    transition: transform 0.2s ease;
}

.star-path {
    fill: transparent;
    stroke: rgb(255, 255, 255);
    stroke-width: 1.5;
    transition: fill 0.3s ease;
}

.star-button.active .star-path {
    fill: #ffc107;
    stroke: #ffc107;
}

.star-button:hover .star-icon {
    transform: scale(1.15);
}

.action-buttons {
    display: flex;
    justify-content: center;
    gap: 20px;
    margin: 20px 0;
    width: 100%;
}

.icon-button {
    width: 50px;
    height: 50px;
    border-radius: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
    border: none;
    cursor: pointer;
    transition: all 0.3s ease;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.2);
}

.icon-button i {
    font-size: 20px;
}

.status-button {
    background-color: var(--color-primary);
    color: white;
}

.status-button:hover {
    background-color: #0d6efd;
    transform: translateY(-3px);
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.3);
}

.pages-button {
    background-color:var(--color-primary);
    color: white;
}

.pages-button:hover {
    background-color: #0dcaf0;
    transform: translateY(-3px);
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.3);
}

.remove-button {
    background-color: var(--color-primary) ;
    color: white;
}

.remove-button:hover {
    background-color: #dc3545;
    transform: translateY(-3px);
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.3);
}

@media (max-width: 768px) {
    .star-button {
        top: 20px;
        left: 10px;
    }

    .user-book-info-header {
        padding-left: 40px;
    }

    .user-book-info-header h1 {
        font-size: 30px;
    }

    .action-buttons {
        gap: 15px;
    }

    .icon-button {
        width: 40px;
        height: 40px;
    }

    .icon-button i {
        font-size: 16px;
    }
}
