<!DOCTYPE html>
<html lang="en">
<head>
    {% load static %}
    {% load form_tags %}
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="{% static 'css/reset.css' %}" />
    <link rel="stylesheet" href="{% static 'css/login-register.css' %}?v=1" />
    <link rel="icon" href="{% static 'images/favicon.png' %}" type="image/x-icon">
    <title>Readie - Login</title>
</head>

<body>
    <div class='container'>

        <div class="left-side">
            <a href="#" class="logo">
                <img src="{% static 'images/logo.png' %}" alt="logo">
            </a>
        </div>
        <div class="right-side">
            <div class="form-container">
                <h1>Log in</h1>
                <form class="form" method="post" action="{% url 'login' %}">
                    {% csrf_token %}

                    <div class="input-field">
                        <label for="id_email" class="label">Email</label>
                        <input type="email" name="email" id="id_email"
                               class="input {% if form.email.errors %}error-input{% endif %}"
                               placeholder="Enter your email" required>
                        {% if form.email.errors %}
                        <div class="errorlist error">
                            {% for error in form.email.errors %}
                                {{ error }}
                            {% endfor %}
                        </div>
                        {% endif %}
                    </div>

                    <div class="input-field">
                        <label for="id_password" class="label">Password</label>
                        <input type="password" name="password" id="id_password"
                               class="input"
                            placeholder="Enter your password" required>
                        <div class="errorlist error">
                            {% for error in form.password.errors %}
                            {{ error }}
                            {% endfor %} 
                        </div>
                    </div>

                    {% if form.non_field_errors %}
                    <div class="error-message error">
                        {% for error in form.non_field_errors %}
                        {{ error }}
                        {% endfor %}
                    </div>
                    {% endif %}

                    <button type="submit" class="form-button">Log In</button>

                    <a href="{% url 'register' %}" class="form-link">Don't have an account? Create it!</a>

                </form>
                <div class="socials-container">
                    <h3>Follow us</h3>
                    <ul class="socials-list">
                        <li class="social instagram"><a href="#"></a></li>
                        <li class="social telegram"><a href="#"></a></li>
                    </ul>
                </div>
            </div>
        </div>
    </div>
</body>

</html>
