<!DOCTYPE html>
<html lang="en">
{% load static %}

<head>
    <meta charset="UTF-8">
    <link rel="icon" href="{% static 'images/favicon.png' %}" type="image/x-icon">
    <link rel="stylesheet" href="{% static 'css/reset.css' %}">
    <link rel="stylesheet" href="{% static 'css/main.css' %}">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Readie — слідкуй за своїм читанням</title>
</head>

<body>
    
    <header>
        <div class="logo header-left">
            <a href="#" class="logo">
                <img src="{% static 'images/logo-primary.png' %}" alt="logo">
            </a>
        </div>
        <div class="header-right">
            <a href="{% url 'login' %}" class="signin-button">Sign in</a>
            <a href="{% url 'register' %}"class="signup-button">Sign up</a>
        </div>
    </header>

    <main>
        <h1>Welcome to Readie!</h1>
        <h3>Readie is your personal assistant in the world of books.</h3>

        <div class="features">
            <p>Here you can:</p>
            <ul>
                <li>🔍 find books by genre, page count, rating, and year</li>
                <li>📖 track how many pages you have read</li>
                <li>📂 fill in the lists: "I want to read," "I am reading now," "Read"</li>
            </ul>
        </div>
        <a href="{% url 'login' %}" class="signin-button">Get started !</a>
    </main>

</body>

</html>
</body>

</html>