<!DOCTYPE html>
<html lang="en">
<head>
    {% load static %}
    {% load form_tags %}
    <meta charset="utf-8"/>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Your profile</title>
    <link rel="stylesheet" href="{% static 'css/style.css' %}"/>
    <link rel="stylesheet" href="{% static 'css/profile-style.css' %}"/>
</head>
<body>
<main class="profile-page">
    <div class="burger-menu-container">
        <a href="{% url 'books' %}">
            <img src="{% static 'images/menu.png' %}" alt="Readie logo" class="burger-menu"/>
        </a>
    </div>
    <div class="profile-content">
        <div class="profile-card">
            <div class="profile-image">
                <div class="profile-image-container">
                    <img src="{% static 'images/profile.png' %}" alt="Profile photo" class="user-avatar"
                         onerror="this.style.display='none'; this.nextElementSibling.style.display='flex';">
                    <div class="avatar-placeholder">
                        <span>{{ user.name.0|default:"?" }}</span>
                    </div>
                </div>
            </div>
            <h1 class="profile-name">{{ user.name }}</h1>
            <p class="profile-email">{{ user.email }}</p>
            <div class="profile-buttons">
                <a href="{% url 'change_info' %}" class="btn">
                    <button class="profile-button">Change Info</button>
                </a>

                <a href="{% url 'user_list' %}" class="btn">
                    <button class="profile-button">Your List</button>
                </a>

            </div>
        </div>
    </div>
</main>
</body>
</html>
