<!DOCTYPE html>
<html lang="en">
<head>
    {% load static %}
    {% load form_tags %}
    <meta charset="utf-8"/>
    <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
    <link rel="stylesheet" href="{% static 'css/reset.css' %}" />
    <link rel="stylesheet" href="{% static 'css/login-register.css' %}" />
    <title>Readie - Sign Up</title>
</head>
<body>
    <div class='container'>

        <div class="left-side">
            <a href="#" class="logo">
                <img src="{% static 'images/logo.png' %}" alt="logo">
            </a>
        </div>
        <div class="right-side">
            <div class="form-container">
                <h1>Sign Up</h1>
                <form class="form" method="post" action="{% url 'register' %}">
                    {% csrf_token %}

                    <div class="input-field">
                        <label for="id_email" class="label">Email</label>
                        <input type="email" name="email" id="id_email" class="input" placeholder="Enter your email"
                            required>
                            {% if form.email.errors %}
                        <div class="errorlist error">
                            {% for error in form.email.errors %}
                            {{ error }}
                            {% endfor %}</div>
                        {% endif %}
                    </div>

                    <div class="input-field">
                        <label for="id_password" class="label">Password</label>
                        <input type="password" name="password" id="id_password" class="input"
                            placeholder="Enter your password" required>
                        <div class="errorlist error">
                            {% for error in form.password.errors %}
                            {{ error }}
                            {% endfor %} </div>
                    </div>

                    <div class="input-field" id="confirm-password-container">
                        <label for="id_confirm_password" class="label">Confirm Password</label>
                        <input type="password" name="confirm_password" id="id_confirm_password" class="input"
                               placeholder="Confirm your password" {% if form.data.password %}required{% endif %}/>
                        {% if form.confirm_password.errors %}
                        <div class="errorlist">
                            {% for error in form.confirm_password.errors %}
                            {{ error }}
                            {% endfor %}
                        </div>
                        {% endif %}
                    </div>


                    {% if form.non_field_errors %}
                    <div class="error-message error">
                        {% for error in form.non_field_errors %}
                        {{ error }}
                        {% endfor %}
                    </div>
                    {% endif %}

                    <button type="submit" class="form-button">Sign Up</button>

                    <a href="{% url 'login' %}" class="form-link">Already have an account? Log in</a>

                </form>
                <div class="socials-container">
                    <h3>Follow us</h3>
                    <ul class="socials-list">
                        <li class="social instagram"><a href="#"></a></li>
                        <li class="social telegram"><a href="#"></a></li>
                    </ul>
                </div>
            </div>
        </div>
    </div>
</body>
</html>
<script>
    const passwordInput = document.getElementById('id_password');
    const confirmPasswordContainer = document.getElementById('confirm-password-container');

    passwordInput.addEventListener('input', function () {
        if (this.value.length > 0) {
            confirmPasswordContainer.classList.add('show');
        } else {
            confirmPasswordContainer.classList.remove('show');
        }
    });
</script>
